#projectDiv {
	width: 350px;
	height: 450px;
	margin: auto;
	border-radius: 25px;
	border: 5px solid green;
	background-color: white;
}

#card_header {
	background-color: white;
	margin: 15px;
	margin-left: 45px;
	margin-right:45px;
	border-radius:25px;
}
